{{> head}}
<div class="text-lg p-5 mb-12 w-fit m-auto">
    <h1 class="font-extrabold mb-4">Articles and guides</h1>
    <ul class="list-disc">
    {{#each posts}}
      <li class="text-orange-400 italic"><a href="/blog/{{this.slug}}" 
        hx-get="/blog/content/{{this.slug}}" 
        hx-target="#content" 
        hx-replace-url="/blog/{{slug}}">
        {{this.title}} ({{this.date}})</a>
      </li>
    {{/each}}
    </ul>
</div>

<div id="content" hx-get="/blog/content/{{current}}" hx-trigger="load delay:100ms" hx-target="#content"></div>
