<div
  id="{{slug}}"
  class="text-lg w-[90%] lg:w-[60%] mx-auto p-5 [&>p]:p-4 [&>h2]:py-2
  [&>h2]:text-orange-400 [&_a]:link [&_a]:link-accent [&_ul]:list-disc [&_ul]:p-4 [&_ul]:ml-5"
>
  <h1 class="text-center text-lime-400 text-2xl font-extrabold">{{title}}</h1>
  <p>
    {{{body}}}
  </p>
  <h6 class="text-center text-orange-400 text-xl">posted on
    {{date}}
    by
    {{author}}</h6>
</div>

<script>hljs.highlightAll();</script>
<!--<script>hljs.initHighlightingOnLoad();</script>-->
<script>
    let paragraphsWithLinks = document.querySelectorAll('p a');

    // Convert NodeList to array using spread operator and loop through each paragraph containing links
    [...paragraphsWithLinks].forEach(function(link) {
        // Add the target="_blank" attribute to each link
        link.setAttribute('target', '_blank');
    });
</script>
