<div id="{{slug}}" class="p-8 my-4 font-mono [&>p]:p-3 [&>h2]:py-2 [&>h2]:text-orange-400 [&>p]:text-gray-400">
  <h1 class="text-orange-400 text-2xl font-extrabold">{{title}}</h1>
  <p>
    {{{body}}}
  </p>
  <h6 class="text-center text-orange-400 text-xl">posted on {{date}} by {{author}}</h6>
</div>

<!--<script>hljs.highlightAll();</script>-->
<script>hljs.initHighlightingOnLoad();</script>
