<div id="{{slug}}" class="w-[90%] lg:w-[60%] mx-auto p-5 [&>p]:text-justify 
    [&>p]:p-4 [&>h2]:py-2 [&>h2]:text-orange-400">
  <h1 class="text-center text-lime-400 text-2xl font-extrabold">{{title}}</h1>
  <p>
    {{{body}}}
  </p>
  <h6 class="text-center text-orange-400 text-xl">posted on {{date}} by {{author}}</h6>
</div>

<!--<script>hljs.highlightAll();</script>-->
<script>hljs.initHighlightingOnLoad();</script>
